body {
  font-family: Arial, sans-serif;
  padding: 15px;
  width: 250px;
  background-color: darkgray;
  border-radius: 50% 25%;
   
  
}


header {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

a {
  color: black;
  font-size: large;
  text-decoration: none;
  font-weight: 500;
}

label {
  font-size: medium;
}

#github-icon {
  width: 24px;
  height: 24px;
  vertical-align: sub;
}

.toggle-section {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bottom {
  margin-bottom: 30px;
}

#status {
  color: green;
  margin-top: 10px;
}